html,
body {
  width: 100%;
  height: 100%;

  --bg-color: rgb(33, 33, 33);
  --fg-color: rgb(233, 233, 233);
  --is-playing-color: rgb(255, 165, 0);
  --is-playing-beat-color: rgb(0, 165, 0);

  background: var(--bg-color);
  color: var(--fg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body {
  max-width: 720px;
}

button#playing {
  --playing-color: var(--fg-color);

  margin-top: 50%;
  width: 200px;
  height: 200px;
  border-radius: 100px;

  background: transparent;
  border: 4px solid var(--playing-color);
  color: var(--playing-color);
  font-size: 4em;

  box-shadow: 0px 0px 18px gray;
  text-shadow: 0px 0px 18px gray;

  /* transition: color 0.3s ease-out, border-color 0.3s ease-out; */
}

button#playing.is-playing {
  --playing-color: var(--is-playing-color);
}

button#playing.is-playing.beat {
  --playing-color: var(--is-playing-beat-color);
}

#tempo-controls {
  margin-bottom: 20%;
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tempo-controls > button {
  flex: 1;

  width: 50px;
  height: 50px;
  font-size: 2em;
  background: var(--bg-color);
  color: var(--fg-color);
}

#tempo-controls > input[type="range"] {
  flex: 8;
}
